@inherits LayoutComponentBase
@inject NavigationManager _nav;

<PageTitle>Shrooms</PageTitle>

<MudThemeProvider />
<div class="page">
    <MudAppBar Color="Color.Dark">
        <MudText Typo="Typo.h4" Style="text-align: center; margin: auto" @onclick="() => Home()">Czy twój grzyb jest jadalny?</MudText>
    </MudAppBar>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Home()
    {
        _nav.NavigateTo($"/");
    }
}